body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./back.jpg);
    width: 393px;
    height: 852px;
}

.display {
    margin-top: 150px;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: #87acb5;
    border: black solid 1px;
    border-radius: 25px;
}

.channel {
    font-family: "Jersey 10";
    font-size: 50px;
    width: 236px;
    margin-top: 5px;
    margin-left: 8px;
    color: #056e67;
}

#left {
    width: 125px;
    margin-right: 5px;
}

#right {
    width: 125px;
    margin-left: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}